@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proxima Nova:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Degular:wght@600&display=swap");
@font-face {
  font-family: "Degular";
  src: url("/public/Degular-Semibold (1).otf");
  font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
